modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "vm"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 24305
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BLId4GLPzuvEzQBfgn_RGAllsrakLGGL5IPdd9CQOQzrrVGMT2rtSDVHlGznG4L0xIqtjlk_FTWr_2-5byCGTD8"
VAPID_PRIVATE_KEY = "EJyuE_EI401H-QEzbxD4mzk-XMuslij41mEd86YA6n0"
VAPID_CONTACT = "mailto:admin@merced.io"
